.about {
  display: grid;
  grid-template-columns: auto 1fr;
}

.about__deco {
  // position: relative;
  overflow: hidden;
  width: 160px;
  height: 317px;
  @media (max-width: $tablet-max-width) {
    width: 185px;
    height: 361px;
  }
  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.about__deco img{
  height: 317px;
  object-fit: cover;

  @media (max-width: $tablet-max-width) {
    height: 361px;
  }
}

.about__content-wrapper{
  padding-left: 20px;
  padding-right: 20px;
  @media (max-width: $tablet-max-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.about h2 {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-family: $accented-font-family;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  background-color: $background-inversion;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-max-width) {
    width: 140px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 39px;
  }
}

.about__button {
  margin-top: 40px;

  @media (max-width: $mobile-max-width) {
    margin-top: 27px;
  }
}

.about p {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: $background-inversion;

  @media (max-width: $mobile-max-width) {
  margin-bottom: 40px;
  }
}

.about p:not(:first-of-type){
  @media (max-width: $tablet-max-width) {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  }
  @media (max-width: $mobile-max-width) {
    -webkit-line-clamp: 8;
  }
}

.about p:last-of-type{
  @media (max-width: $mobile-max-width) {
    margin-bottom: 20px;
  }
}
