.accordeon__control {
  @media (max-width: $mobile-max-width){
    cursor: pointer;
  }
}

.accordeon__close-icon {
  display: none;
}

.accordeon--open .accordeon__close-icon {
  display: initial;
}

.accordeon--open .accordeon__open-icon {
  display: none;
}

.accordeon__item {
  @media (max-width: $mobile-max-width){
    display: none;
  }
}

.no-js .accordeon__item, .accordeon--open .accordeon__item {
  @media (max-width: $mobile-max-width){
    display: block;
  }
}
