
.advantages h2 {
  @include visually-hidden;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @media (max-width: $mobile-max-width) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.advantages__item {
  position: relative;
  min-height: 300px;
  border: 1px solid $border-advantage;
  border-left: 3px solid $border-advantage-accent;
  padding: 41px 42px 20px 44px;
  background-color: $background-inversion;
  // padding-right: 42px;
  // padding-left: 44px;

  @media (max-width: $tablet-max-width) {
    min-height: 232px;
    padding: 24px 15px 21px 26px;
  }

  @media (max-width: $mobile-max-width) {
    min-height: 232px;
    padding: 24px 13px 23px 24px;
  }
}

.advantades-icon {
  width: 40px;
  height: 40px;
}

.advantades-icon svg {
  fill:$icon-normal;
}

.advantages__item h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  font-family: $accented-font-family;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $text-accented;

  @media (max-width: $tablet-max-width) {
    margin-top: 2px;
    margin-bottom: 7px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 8px;
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 28px;
  }

}

.advantages__item p {
  margin: 0;
  padding: 0;
}

.advantages__item p br {
  display: none;
  @media (max-width: $tablet-max-width) {
    display: initial;
  }
  @media (max-width: $mobile-max-width) {
    display: none;
  }

}

.advantages__item.advantages__item--vendor {
  padding-right: 10px;

  @media (max-width: $mobile-max-width) {

    & h3 {
      margin-top: 5px;
    }
  }
}

.advantages__item.advantages__item--confidence {

  @media (max-width: $tablet-max-width) {
    & h3 {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
}

.advantages__item.advantages__item--price {

  @media (max-width: $mobile-max-width) {
    & h3 {
      margin-bottom: 16px;
    }
  }
}

.advantages__item:hover {
  background-color: $background-accented;

  & svg {
    fill:$icon-inversion;
  }

  & h3 {
    color: $inversion-text;
  }

  & p {
    color: $inversion-text;
  }
}
