.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: $accented-font-family;
  // font-family:"Roboto Condensed", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.button--main {
  height: 45px;
  border: 1px solid $border-button-default;
  border-radius: 5px;
}

.button--call-button {
  flex-shrink: 0;
  width: 180px;
  color: $inversion-text;

  &:hover,
  &:focus {
    background-color: $background-accented;
    color: $inversion-text;
  }

  &:active {
    color: inherit;
  }
}

.button--hello {
  flex-shrink: 0;
  width: 407px;
  height: 55px;
  font-size: 16px;
  line-height: 19px;
  color: $inversion-text;
  border: none;
  background-color: $border-button-inversion;

  @media (max-width: $tablet-max-width) {
    width: 380px;
  }
  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.button--hello {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    color: inherit;
  }
}

.button--about {
  width: 180px;
  border: 1px solid $border-accented;
  border-radius: 5px;
  color: $text-accented;
  background-color: $border-button-default;

  &:hover,
  &:focus {
    background-color: $background-accented;
    color: $inversion-text;
  }

  &:active {
    color: inherit;
  }
}

.button--submit {
  width: 270px;
  color: $inversion-text;

  @media (max-width: $tablet-max-width) {
    width: 277px;
  }
  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.button--submit:hover,
.button--submit:focus {
  background-color: $background-button-form;
}

.button--submit:active {
  background-color: $background-button-form;
  color: inherit;
}

.button--accordeon {
  display: none;
  @media (max-width: $mobile-max-width) {
    display: block;
  }
}

// .button--accordeon span{
//   @include visually-hidden;
// }
