.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: $accented-font-family;
  // font-family:"Roboto Condensed", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.button__main{
  height:45px;
  border: 1px solid $border-button-default;
  border-radius: 5px;
}

.button--call-button {
  flex-shrink: 0;
  width: 180px;
  color: $inversion-text;
}

.button--hello {
  flex-shrink: 0;
  width: 407px;
  height: 55px;
  font-size: 16px;
  line-height: 19px;
  color: $inversion-text;
  border: none;
  background-color: $border-button-inversion;

  @media (max-width: $tablet-max-width) {
    width: 380px;
  }
  // width: 100%;
  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.button--about {
  width: 180px;
  border: 1px solid $border-accented;
  border-radius: 5px;
  color: $text-accented;
  background-color: $border-button-default;

  &:hover{
    background-color: $background-accented;
    color: $inversion-text;
  }

  &:active {
    color: inherit;
  }
}

.button__accordeon span{
  @include visually-hidden;
}
