.feedback-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "name phone"
                        "question question"
                        "submit privacy";
  column-gap: 31px;
  row-gap: 41px;

  @media (max-width: $tablet-max-width) {
  row-gap: 44px;
  }

  @media (max-width: $mobile-max-width) {
    grid-template-columns: 1fr;
      grid-template-areas:  "name "
                            "phone"
                            "question"
                            "submit"
                            "privacy";
  row-gap: 32px;
  }
}

.feedback-form--popup {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:  "name "
                        "phone"
                        "question"
                        "privacy"
                        "submit";
  row-gap: 30px;
}

.feedback-form__input {
  font-family: $main-font-family;
  font-size: 16px;
  line-height: 22px;
  color: $inversion-text;
  background-color: $background-accented;
}

.feedback-form__input label {
  @include visually-hidden;
}

.feedback-form__input input {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border: none;
  font-family: $main-font-family;
  font-size: 16px;
  line-height: 22px;
  color: inherit;
  background-color: $background-form-input-rgba;
}

.feedback-form__input input::placeholder{
  font-family: $main-font-family;
  font-size: 16px;
  line-height: 22px;
  color: $inversion-text;
  opacity: 1;
}

.feedback-form__input textarea {
  width: 100%;
  height: 154px;
  padding: 13px 16px;
  resize: none;
  border: none;
  font-family: $main-font-family;
  font-size: 16px;
  line-height: 22px;
  color: inherit;
  background-color: inherit;
  background-color: $background-form-input-rgba;

  @media (max-width: $mobile-max-width) {
    height: 99px;
  }
}

.feedback-form__input textarea::placeholder {
  font-family: $main-font-family;
  font-size: 16px;
  line-height: 22px;
  color: $inversion-text;
  opacity: 1;
}

.feedback-form__checkbox {
  padding-top: 5px;
  padding-left: 7px;

  @media (max-width: $tablet-max-width) {
    padding-top: 11px;
    padding-left: 10px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0;
  }
}

.feedback-form__checkbox input{
  @include visually-hidden;
}

.feedback-form__checkbox label {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  color: $text-label;
  cursor: pointer;
}

// .feedback-form__checkbox label span
.feedback-form__checkbox .feedback-form__check-ico {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 16px;
  height: 16px;
  border: 1px solid $border-button-default;
}

.feedback-form__checkbox input:not(:checked) + label svg {
  display: none;
}

.feedback-form__input--name {
  grid-area: name;
}

.feedback-form__input--phone {
  grid-area: phone;
}

.feedback-form__input--question {
  grid-area: question;
}

.feedback-form__button--submit {
  grid-area: submit;
}

.feedback-form--popup .feedback-form__button--submit {
  width: 100%;
}

.feedback-form__checkbox--privacy {
  grid-area: privacy;
}

.feedback-form__input input:focus, .feedback-form__input input:hover, .feedback-form__input textarea:focus, .feedback-form__input textarea:hover  {
  outline: 2px solid white;
}

// .feedback-form__checkbox:focus-within, .feedback-form__checkbox:hover  {
//   outline: 2px solid white;
//   outline-offset: 5px;
// }

.feedback-form__checkbox:hover span, .feedback-form__checkbox:focus-within span {
  outline: 2px solid white;
}

.feedback-form__checkbox:hover label, .feedback-form__checkbox:focus-within label {
  text-decoration: underline;
}
