// .main {
//   // display: grid;
//   // grid-template-rows: repeat(5, auto);
// }
.main__hello{
  background-color: $dark;
}

.main__advantages {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 110px;
  padding: 0 15px;

   @media (max-width: $tablet-max-width) {
     margin-top: 54px;
     padding: 0 25px;
   }

   @media (max-width: $mobile-max-width) {
     margin-top: 37px;
     padding: 0 15px;
   }
}

// дублирование с main__advantages
.main__about {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 110px;
  padding: 0 15px;

   @media (max-width: $tablet-max-width) {
     margin-top: 54px;
     padding: 0 25px;
   }

   @media (max-width: $mobile-max-width) {
     margin-top: 57px;
     padding: 0 15px;
   }
}

.main__production{
  margin-top: 96px;
   @media (max-width: $tablet-max-width) {
     margin-top: 76px;
   }
   @media (max-width: $mobile-max-width) {
     margin-top: 65px;
   }

}

.main__decor-wrapper{
  overflow: hidden;
  background-image: url("../img/main-deco-bg.svg");
  background-repeat: no-repeat;
  // background-position: center;
  background-position-x: left;
  background-position-y: -30px;
  // background-size: 100%;

   @media (max-width: $tablet-max-width) {
  //    background-image: url("../img/main-deco-center-bg.svg");
  //   //  main-deco-center-bg
  background-position-x: -350px;
  background-position-y: -90px;
  // background-size: 50%;
   }

   @media (max-width: $mobile-max-width){
  // background-size: contain;

  //   //  background-size: 100%;
   background-position-x: -680px;
   background-position-y: 480px;
   }
}
