.nav {
  display: flex;
  align-items: center;
}

.nav__contact-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  margin-right: 38px;
  margin-left: -122px;
  font-size: 16px;
  line-height: 18px;
  color:$inversion-text;
}

.nav__contact-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 122px;
  margin-top: 15px;
  margin-bottom: 15px;

  @media (max-width: $tablet-max-width) {
    margin-left: 33px;
  }
}

.nav__contact-item a {
  @media (max-width: $tablet-max-width) {
    @include visually-hidden;
    // display: none;
}
}

// @media (max-width: $tablet-max-width)
.nav__contact-item svg {
  margin-right: 15px;
  fill:$blue;
  @media (max-width: $tablet-max-width) {
    margin-right: 0;
}
}

.nav__contact-item--mail svg {
  @media (max-width: $tablet-max-width) {
    width: 25px;
    height: 19px;
}
}

.nav__contact-item--phone svg {
  @media (max-width: $tablet-max-width) {
    width: 24px;
    height: 24px;
}
}
