.nav {
  display: flex;
  align-items: center;
}

.nav__contact-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 48px;
  margin-left: -90px;
  font-size: 16px;
  line-height: 18px;
  color:$inversion-text;

  @media (max-width: $tablet-max-width){
    margin-right: 0;
  }
}

.nav__contact-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 90px;
  margin-top: 15px;
  margin-bottom: 15px;

  @media (max-width: $tablet-max-width) {
    margin-left: 33px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 0;
    margin-left: 23px;
  }
}

.nav a:hover, .nav a:focus {
  color: $text-accented;
}

.nav__contact-item span{
  @media (max-width: $tablet-max-width) {
    @include visually-hidden;
    // display: none;
  }
}

// @media (max-width: $tablet-max-width)
.nav__contact-item svg {
  margin-right: 10px;
  fill:$blue;
  @media (max-width: $tablet-max-width) {
    margin-right: 0;
  }
}

.nav__contact-item--mail svg {
  @media (max-width: $tablet-max-width) {
    width: 25px;
    height: 19px;
  }
}

.nav__contact-item--phone svg {
  @media (max-width: $tablet-max-width) {
    width: 24px;
    height: 24px;
  }
}
