// by color
$black: #000000;
$white: #ffffff;
$blue: #00b2ff;
$dark: #1b2d37;
$dark-rgba-05: rgba(27, 45, 55, 0.5);
$dark-light:#666666;
$gray-dark: #626962;
$gray-dark-rgba-02: rgba(98, 105, 98, 0.2);
$gray: #788891;
$gray-light:#cdcdcd;
$gray-light-light:#ebebeb;

// by purpose
$text: $dark-light;
$inversion-text:$white;
$title-text:$dark;
$text-dark: $dark;
$text-footer: $dark-rgba-05;
$border-line-section: $gray-dark-rgba-02;
$border-button-default: $white;
$border-button-inversion: $blue;
$social-icon-normal: $gray-light;
$social-icon-hover: $blue;
$social-icon-active: $dark;
$link-default-hover: $blue;
$link-default-active: $dark;
