$desktop-fix-point: 1439px;
$desktop-middle-point: 1200px;
$desktop-size: 1024px;
$tablet-max-width: 1023px;
$mobile-max-width: 767px;

$main-font-family: "PT Mono", Courier, monospace;
$accented-font-family: "Roboto Condensed", Arial, sans-serif;
